{% extends 'base.html' %}
{% block title %}
{% load thumbnail %}
{% load user_filters %}
{% if is_edit %}
  Редактирование поста
{% else %}
  Добавить запись
{% endif %}
{% endblock %}
{% block content %}
      <div class="container py-5">
        <div class="row justify-content-center">
          <div class="col-md-8 p-5">
            <div class="card">
              <div class="card-header">
                {% if is_edit %}
                  Редактировать
                {% else %}
                  Добавить запись
                {% endif %}
              </div>
              <div class="card-body">
                  {% if is_edit %}
                    <form method="POST" enctype="multipart/form-data" action="{% url 'posts:post_edit' post_id %}">
                    <input type="hidden" name="csrfmiddlewaretoken" value="{{csrf_token}}">
                    {% csrf_token %}  <!-- csrf_token -->
                    {% for field in form %}  <!-- csrf_token -->
					{% endfor %}  <!-- csrf_token -->
                  {% else %}
                  <form method="POST" enctype="multipart/form-data" action="{% url 'posts:post_create' %}">
                    <input type="hidden" name="csrfmiddlewaretoken" value="{{csrf_token}}">
                    {% csrf_token %}  <!-- csrf_token -->
                    {% for field in form %}  <!-- csrf_token -->
					{% endfor %}  <!-- csrf_token -->
                  {% endif %}
                  <div class="form-group row my-3 p-3">
                    <label for="{{ PostForm.text.id_text }}">
                      {{ PostForm.text.label }}
                      <span class="required text-danger" >* Обязательно для заполнения</span>
                    </label>
                    <textarea name="text" cols="40" rows="10" class="form-control" required id="id_text"
                        {{ form.text }}
                    </textarea>
                    <small id="id_text-help" class="form-text text-muted">
                      {% if is_edit %}
                        Редактирование поста
                      {% else %}
                        Текст нового поста
                      {% endif %}
                    </small>
                  </div>
                  <div class="form-group row my-3 p-3">
                    <label for="id_group">
                      Group                  
                    </label>
                      <select name="group" class="form-control" id="id_group">
                      <option value="" selected>Выберите группу</option>
                      <option value="1">Группа 1: Лев Толстой </option>
                      <option value="4">Группа 2: Пользователи</option>
                      <option value="3">Группа 3: Тестовые сообщения</option>
                    </select>
                    <small id="id_group-help" class="form-text text-muted">
                      Группа, к которой будет относиться пост
                    </small>
                  </div>
                    <div class="form-group row my-3 p-3">
                    <label for="id_image">
                      Картинка
                    </label>
                    <input type="file" name="image" accept="image/*" class="form-control" id="id_image">
                    </div>
                  <div class="d-flex justify-content-end">
                    <button type="submit" class="btn btn-primary">
                      {% if is_edit %}
                        Сохранить
                      {% else %}
                        Добавить
                      {% endif %}
                      </button>

                  </div>

                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
{% endblock %}