{% extends 'base.html' %}
      {% block content %}
        <h1>{{ group.title }}</h1>
        <p>{{ group.description }}</p>
        <title>Записи сообщества Лев Толстой - зеркало русской революции</title>
        {% for post in page_obj %}
          <article>
          <ul>
            <li>
              Автор: {{ post.author }}
            </li>
            <li>
              <a href="{% url 'posts:profile' post.author %}">все посты пользователя</a>
            </li>  
            <li>
              Дата публикации: {{ post.pub_date|date:"d E Y" }}
            </li>
          </ul>
          <p>{{post.text}}</p>
          </article>
              {% if not forloop.last %}<hr>{% endif %}
        {% endfor %}
        {% include 'posts/includes/paginator.html' %}
      {% endblock %}
